/**********
 * 
 * GitHub Kunikla website
 * 
 *********/

body {
  font-family: serif;
  font-size: 16px;
}

.main {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 1em;
}

.main h1 {
  font-size: 2em;
  color: green;
}

.main h2 a {
  font-size: 24px;
  color: green;
  font-size: 1em;
  color: green;
}

.main a {
  color: green;
}

.main p {
  font-size: 1em;
}

.main img {
  display: block;
  margin: auto;
}

.project {
  border: green solid 2px;
  border-radius: 5px;
  height: 200px;
}

.page-header, .page-footer {
  font-family: "Henny Penny", cursive;
}

.page-header img {
  display: block;
  margin: auto;
}

.page-header h1 {
  font-size: 36px;
  text-align: center;
}

.page-header {
  border-bottom: 3px solid green;
}

.page-header p, .page-footer p {
  font-size: 16px;
  text-align: center;
}

.page-footer {
  padding: 20px;
  background-color: green;
  color: black;
  margin-bottom: 20px;
  border-radius: 5px;
}